.container-cabecalho {
  width: 100%; 
  background-color: #18435A;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-cabecalho .conteudo {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-cabecalho .conteudo p {
  font-size: 25px;
  color: #F7FFF7;
  text-shadow: 2px 1.5px #000;
  font-weight: 500;
  user-select: none;
  transition: 500ms;
}

.conteudo .logo {
  width: 70px;
  height: 70px;
  border: 2px dashed #fff;
  border-radius: 35px;
  opacity: 0.7;
}
