.container-imagem {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
}

.container-imagem .container-texto {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 450px;
  height: 180px;
  margin: auto;
  background-color: rgba(129, 120, 120, 0.5);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container-imagem .container-texto h2 {
  font-size: 35px;
}

.container-imagem .container-texto p {
  font-size: 25px;
  font-weight: 500;
}