.container-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-conteudo .container-texto {
  margin: 10px 0;
  padding: 10px;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container-conteudo .container-texto h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
}

.container-conteudo .container-texto p {
  font-size: 15px;
  font-weight: 500;
}

/*
*/

.container-conteudo .container-quartos {
  padding: 10px;

  display: flex;
  justify-content: center;
}



.container-conteudo .container-quartos .link-quartos {
  margin: 0 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px solid #044d4d;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-conteudo .container-quartos .link-quartos img {
  width: 270px;
  height: 170px;
  margin-bottom: 15px;
}

.container-conteudo .container-texto .rota-mapa {
  width: 100%;
}