.container-menu {
  width: 100%;
  min-width: 1024px;
  height: 60px;
  background-color: #fff;
  position: fixed;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;

}

.container-menu p {
  font-size: 20px;
}

.container-menu .text-blue {
  color: #ADBBCA;
  font-weight: 600;
}

.navegacao ul {
  display: flex;
}

.navegacao ul li {
  margin: 0 15px;
}

.navegacao ul li a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(26, 23, 23, 0.487);
  text-transform: uppercase;
}