.medicos {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.medicos .med-item {
  margin: 10px;
  color: #000;
  font-weight: 600;
  padding: 1px;
  border-bottom: 2px solid #84BFBD;
}

.medicos .med-item:hover {
  color: #00CAD1;
}

.box-info-pagina.-texto-variacao h1 {
  font-size: 1.3rem;
}

.box-info-pagina.-texto-variacao h3 {
  color: #8A8486;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tabela-medico {
  width: 100%;
  max-width: 1024px;
  height: 240px;
  margin: 40px auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tabela-medico img {
  width: 300px;
  height: 243px;
  object-fit: cover;
}

.tabela-horario {
  display: flex;
  height: 240px;
}

.tabela-medico table {
  border-spacing: 0;
  text-align: left;
  width: 100%;
  height: 100%;
}

.tabela-horario table thead tr {
  background-color: #00CAD1;
  color: #fff;
}

.tabela-horario table thead tr th {
  width: 500px;
  padding: 10px;
}

.tabela-horario table tbody tr td {
  height: 50px;
  text-align: left;
  padding: 10px;
  font-size: 0.9rem;
  color: #8A8486;
  font-weight: 600;
}

.tabela-medico table tbody tr:nth-of-type(2n+1) {
  background-color: #cdcdcd;
  border: 1px solid #f1f1f1;
}